/*Main CSS Styles*/
body {
  max-width: 100vh;
}


/*header and footer styles */
header {
  font-family: 'Consolas','Monaco','Andale Mono','Ubuntu Mono',monospace;
  color: #dee2e6; 
  background-color: #343a40; 
  border-bottom: 3px solid teal;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navlinks  {
  font-family: 'Consolas','Monaco','Andale Mono','Ubuntu Mono',monospace;
  color: #dee2e6; 
  text-decoration: none;  
}

a.navlinks:link {color:#dee2e6; }
a.navlinks:hover {color:#212529; }

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

footer {
  text-align: center;
  background-color: #343a40; 
  padding: 15px;
  font-family: 'Consolas','Monaco','Andale Mono','Ubuntu Mono',monospace;
  color: #dee2e6; 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*styles for main section of page*/
section {
  max-width: 900px;
  margin: auto;
}

h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#495057 ;
}

h4 { 
  float: right;
}

p, li, form {
  color: #212529;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

ul {
  padding:0;
  margin: 0;
}

li {
  padding: 5px;
}

pre {
  font-size: 11px;
  white-space: pre-wrap;
  word-break: break-all;
  margin-top: 50px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid rgb(100, 100, 100);
  background-color: #1e1e1e;
}

code {
  display: block;
  max-width: 500px;
}

.const {color: #2c6be9;}
.var {color: #5799e0}
.string {color:#cf9365;}
.method {color:#ffe19f;}
.key {color:#7bb9e9;}




img.portrait {
  border-radius: 50%;
  height: 300px;
  width: 205px;
  float: right;
}

img {
  width: 100%;
  border-radius: 10px;
}

/*link styles*/
section a:link {color: #212529;}
section a:visited {color: #6c757d;}
section a:hover {color:#525b64;}
section a:active {color:#adb5bd;}


/*form styles*/
form {
  display: block;
}

fieldset {
  border: 2px solid #6c757d;
  padding: 10%;
  border-radius: 5px;
}

legend {
  padding: 1%;
  text-align: center;
}

form input,
form textarea {
  border: 2px solid #6c757d;
  margin-bottom: 3%;
  width: 100%;
  background-color:  #ebeef1;
  border-radius: 5px;
  
}

button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px; 
  background-color: #343a40;
  border: none;
  color: #dee2e6;
}

/*responsive styles (Mobile First)*/
.group {
  margin: auto;
  display: flex;
  flex-direction: column;  
}

.item {  
  flex: 1;
  margin: auto 10px auto 10px;
}

.item-double {
  flex: 2;
  margin: auto 10px auto 10px;
}

/*responsive styles (Desktop)*/

@media all and (min-width: 800px) {

  .group {
    flex-flow: row wrap;
  }
  main{
    padding: 0 5%;
  }

}
